* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 2em;
  height: 80px;
  box-shadow: none;
  background: none;
  position: relative;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.icon-pfp img, .menu-lateral img {
  border-radius: 50%;
  object-fit: cover;
}

.icon-pfp img {
  width: 55px;
  height: 55px;
  margin-top: 5px;
}

.hamburger i {
  font-size: 1.8rem;
  cursor: pointer;
  color: #1e293b;
  transition: 0.3s;
}

.hamburger:hover i {
  opacity: 0.8;
}

/* TÍTULO */

.title {
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: left;
}

.title i {
  font-size: 2rem;
  color: #2563eb;
}

.title .main-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e293b;
}

.title .subtitle {
  font-size: 1rem;
  color: #64748b;
  margin-top: -0.3em;
}

.bell-icon i {
  font-size: 1.8rem;
  color: #1e293b;
  cursor: pointer;
  transition: 0.3s;
}

.bell-icon i:hover {
  opacity: 0.8;
}

/* menu lateral */

.menu-lateral {
  position: fixed;
  top: 0;
  left: -100%;
  width: 240px;
  height: 100vh;
  background: #fff;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  padding-top: 100px;
  z-index: 10;
}

.menu-lateral ul {
  list-style: none;
}

.menu-lateral img {
  margin-left: 15px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

.menu-lateral ul li a {
  display: block;
  padding: 1em 1.5em;
  text-decoration: none;
  color: #1e293b;
  font-weight: 500;
  transition: background 0.3s ease;
}

.menu-lateral ul li a:hover {
  background: #e2e8f0;
}

.menu-lateral.active {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 116, 139, 0.4); 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 5;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5em;
  margin-top: 40px;
  padding: 0 60px 50px 60px;
}

.card {
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 20px;
}

.card .icon-wrapper {
  width: 40px;
  height: 40px;
  background-color: rgb(50, 163, 189);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

.card .icon-wrapper i {
  color: white;
  font-size: 20px;
}

/* cores dos icones */

.card.matematica .icon-wrapper {
  background-color: #3B82F6; 
}

.card.portugues .icon-wrapper {
  background-color: #F472B6; 
}

.card.historia .icon-wrapper {
  background-color: #F59E0B; 
}

.card.biologia .icon-wrapper {
  background-color: #34D399;
}



.atividades-counter {
  display: flex;
  margin-top: 10px ;
  color: rgba(0, 0, 0, 0.509);
  align-items: center;
  justify-content: space-between;
}



@media (max-width: 768px) {
  header {
    padding: 1em;
  }

  .title .main-title {
    font-size: 1.2rem;
  }

  .title .subtitle {
    display: none;
  }
}